<footer class="footer">
  <samll class="footer_copyright">
    Copyright &copy; <%= link_to "Goshbello", "https://green-blogs.herokuapp.com/", class: "copyright-a-tag" %>
  </samll>
  <div class="footer_links">
    <ul class="f-ul">
      <%= link_to "About", about_path %>
      <%= link_to "Contact", contact_path %>
      <%= link_to "News", news_path %>
    </ul>
  </div>
</footer>
